<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p>Originally from North Texas where I graduated from Texas Woman's University with a Bachelor of Science in Mathematics.
          I am a first-gen latina graduate student in the Applied Mathematics program at the University of Arizona.  
          I am part of the <a href="https://condonlab.org/" style="color:white"><u>Condon Hydrology Lab</u></a> led by Dr. Laura Condon. 
          My research focuses on understanding evolving watershed dynamics using nonlinear dynamics, remote sensing, and machine learning. 
          My personal interests include coffee, mental health, and productivity workflows. 
            </p>
      </div> 
    </div>
  </div>
</section>
