<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <p> Originally from North Texas where I graduated from Texas Woman's University with a Bachelor of Science in Mathematics and minor in Computer Science.
          I am a first generation latina PhD Candidate in the Applied Mathematics program at the University of Arizona.  
          I am part of the <a href="https://condonlab.org/" style="color:#4B5842"><u>Condon Hydrology Lab</u></a> led by Dr. Laura Condon. 
          My research focuses on understanding evolving watershed dynamics using nonlinear dynamics and remote sensing data. 
          I am passionate about using data to create actionable insights for environmental and societal challenges.
            </p>
      </div> 
    </div>
  </div>
</section>
