<!-- Project Section -->
<section class="success" id="projects">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2>Projects</h2>
      <hr>
    </div>  
      <div class="col-lg-12">
        <h3>Connections between Low Frequency Streamflow Extremes and Nonlinear Dynamics in the Upper Colorado River Basin</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>We apply nonlinear methods on combined annual tree-ring reconstructed and observed streamflow in the Upper Colorado River Basin. 
          First, we explore the connections between predictability through the calcualtion of Lyapunov Exponents and streamflow characteristics
          for the Lees Ferry gauge. Then, we test for spatial coherence of predictability for gauges on the main tributaries. 
      </div>
      <div class="col-lg-12">
        <h3>Quantifying Storage Losses in the Colorado River Megadrought</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p> Using remote sensing data we calculate the Normalized Difference Water Index (NDWI) for Lake Mead and Lake Powell. We map 
          these over time to compare to recorded reservoir levels. This allow us to explore changing reservoir levels in the drought and 
          evaluate the performance of the NDWI metric on large well documented water bodies.
      </div>
    </div>
  </div>
</div>
</section>